body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsl(245, 91%, 21%);
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
}
h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2em;
}
#pong {
    background: #000000;
    display: block;
    border: 4px solid #fff;
    margin-top: 10px;
    box-shadow: 0 0 20px #000;
}